html {
    font-size: 16px;
}

#main-body {
    margin-top: 0px;
    margin-right: 0px;
    background-color: antiquewhite;
}

#mail {
    float: right;
}

#tel {
    margin-bottom: -4px;
}

#atsign {
    margin-bottom: -4px;
}

#hero {
    display: flex;
    margin: 0px;
    padding: 0px;

}

#hero-info {
    width: 50%;
    padding-right: 12px;
}

#heroImage {
    width: 100%;
    height: 600px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 300px;
}

#image-div {
    width: 50%;
}

#hi {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #291854;
    margin-top: 19px;
    margin-left: 135px;
}

#freelance {
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    margin-left: 135px;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-left: 0px;

}

#and {
    font-family: League Spartan;
    font-size: 38px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: #190D37;
}

#lorem {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #331E6A;
    margin-left: 135px;
}

.S-lorem {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #55206D;
    margin-top: 0px;
}

.work-lorem {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #190D37;
    height: 81px;
    padding-bottom: 36px;
    padding-top: 16px;
}


.what-part {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #2858FF;
    text-transform: uppercase;
    padding-bottom: 4px;
    text-align: center;
    margin-top: 80px;
}

.experience{
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    height: 80px;
    color: #000000;
    margin-bottom: 0px;
    margin-left: -44px;
    margin-right: -52px;
    text-align: center;

}

.self-description {
    text-align: center;
    margin-left: 370px;
    margin-right: 370px;
}

#button {
    margin-left: 135px;
    margin-top: 12px;
    font-weight: 700;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

#button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#contact {
    margin-top: 12px;
    margin-left: 135px;
}

#works {
    display: flex;
    text-align: center;
    margin-left: 135px;
    margin-right: 135px;
}

.jobs {
    height: 210px;
    background-color: #FFFFFF;
    width: 33.333%;
    margin-right: 24px;
    border-radius: 10px;
    border-color: #FFFFFF;
    padding: 6px 8px 6px 8px;
}

#projects-header{
    text-align: center;
    margin-left: 370px;
    margin-right: 370px;
}
.projects {
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 32px;
}

.project-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.h5 {
    margin: 4px 0px 4px 10px;
}

p {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 16px;
}

.link-image {
    width: 79px;
    height: 12px;
    margin-left: 10px;
}

a {
    margin-top: 0px;
}

#footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 36px;
    margin-top: 20px;
    border-radius: 4px;
}