
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1,h2{
    color: hsl(120, 96%, 38%);
    text-align: center;
}

h3{
    margin-bottom: 8px;
}

#about{
    display: inline;
}

#banner{
    width: 100%;
    height: 430px;
}

#description{
    margin-left: 30px;
    margin-right: 30px;
}

#team{
    width:100%;
}

#teamImage{
    border-radius: 8px;
    height: 350px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}


.apply{
    float:right;
}

#footer{
    margin-top: 50px;
    padding: 8px;
    background-color: aqua;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li{
    display: inline;
    margin: 0 16px;
}




@media screen and (min-width:576px){

}


@media screen and (min-width:762px){
      
}
