* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 0px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 35px;
    padding: 10px;
}

.logo .logo_M{
    color: #d80548;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    background: #d80548;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}


.header-text {
    margin-top: 20%;
    width: 60%;
}

.header-text p { 
    font-size: 37px;
    margin-bottom: 30px;
}

.header-text h1 {
    font-size: 40px;
}

.header-text .tagline {
    display: block;      
    margin-top: 8px;        
    font-weight: 400;
}


.header-text h1 span {
    color: #ff004f;
}




/*-- ---------------about------------------- */

#about {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title {
    font-size: 55px;
    font-weight: 600;
    color: #d80548;
    text-align: center;
    margin-bottom: 40px;
}

.about-1 {
    flex-basis: 35%;
}

.about-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-2 {
    flex-basis: 60%;
}

.about-2 p {
    line-height: 1.8;
    font-size: 17px;
    margin-bottom: 20px;
    max-width: 650px;
}

.about-3 {
    max-width: 850px;
    margin: 50px auto 0 auto;
    padding: 30px;
    background: #111;
    border-radius: 12px;
    border: 1px solid #222;
}

#skills li {
    margin-bottom: 20px;
}

.skill-type {
    display: block;
    color: #ff004f;
    margin-bottom: 5px ;
}



#education li {
    margin-bottom: 25px;
}

.edu-year {
    display: block;
    color: #ff004f;
    margin-bottom: 4px ;
}

.edu-school {
    margin-bottom: 5px;
    font-weight: 600;
}



.about-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.about-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.about-links::after {
    content: '';
    left: 0;
    width: 0;
    bottom: -8px;
    height: 3px;
    background: #d80548;
    position: absolute;
    transition: 0.5s;
}

.about-links.active-link::after {
    width: 100%;
}

.about-contents {
    display: none;
}

.about-contents.active-content {
    display: block;
}

.about-contents ul li {
    list-style: none;
    margin: 10px 0px;
}

.about-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

/* -----------------services----------- */

#services {
    padding: 20px 0px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.service-item {
    background: #262626;
    font-size: 13px;
    font-weight: 300;
    padding: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-item i {
    font-size: 50px;
    margin-bottom: 30px;
}

.service-item h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 15px;
    line-height: 1.5;
}

.service-item a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
}

.service-item:hover {
    background: #d80548;
    transform: translateY(-10px);
}


/* -----------------------potfolio--------------------- */

#portfolio {
    padding: 20px 0px;
    margin-top: 80px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.work-item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}


.work-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}


.layer {
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #d80548);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transition: height 0.5s;
    padding:0px 40px; 
}

.work-item:hover img{
    transform: scale(1.1);
}

.work-item:hover .layer{
    height: 100%;
}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

 
.layer a{
    margin-top: 20px;
    text-decoration: none;
    line-height: 60px;
    width: 60px;
    height: 60px;
    color: #d80548;
    background: #fff;
    font-size: 18px;
    border-radius: 50%;
}

.see_more{
    display: block;
    width: fit-content;
    margin: 50px auto;
    padding: 14px 50px;
    border: 1px solid #d80548;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.see_more:hover{
    background: #d80548;
}


/* -----------------------potfolio--------------------- */

#contact{
    padding: 50px 0px;
}

.left{
    flex-basis: 35%;
}

.right{
    flex-basis: 60%;
}

.left p{
    margin-top: 30px;
}

.left p i{
    font-size: 25px;
    color: #d80548;
    margin-right: 15px;
}

.social_icon{
    margin: 30px 0px
}

.social_icon a{
    font-size: 30px;
    margin-right: 15px;
    text-decoration: none;
    color: #ababab;
    transition: transform 0.5s;
    display: inline-block;
}

.social_icon a:hover{
    color: #d80548;
    transform: translateY(-5px);
}

.btn1{
    text-decoration: none;
    display: block;
    width: 50%;
    background: #d80548;
    padding: 12px 30px;
    border-radius: 6px;
    color: #fff;
    margin-top: 47px;
}

.right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    margin: 15px 0px;
    padding: 15px;
    background: #262626;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 6px;
    color: #fff;
}

.btn2{
    display: inline-block;
    text-decoration: none;
    width: 24%;
    background: #d80548;
    padding: 12px 30px;
    border-radius: 6px;
    color: #fff;
    margin-top: 40px;
    border: 0;
    font-size: 17px;
    cursor: pointer;
}

#footer{
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    background: #262626;
}

#footer i{
    color: #d80548;
}

nav .fa-solid{
    display: none;
}

/*-- ---------------css responsive for small screen------------------- */

@media only screen and (max-width:600px) {

    #header {
        background-image: url(images/phone-background.png);
    }

    .header-text p{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

     .logo {
        width: 120px;
    } 
    
    nav ul{
        position: fixed;
        right: -200px;
        top: 0;
        height: 100vh;
        background: #d80548;
        width: 200px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 15px 20px;
    }

    nav div i{
        cursor: pointer;
    }
    
    nav ul li a {
        font-size: 14px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 20px;
        left: 25px;
        cursor: pointer;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .sub-title {
        margin: 40px 0px 10px 0px;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }
    
    .about-2 p{
        font-size: 15px;
        font-weight: 200;
    }
    .about-1, .about-2{
        flex-basis: 100%;
    }
    
    .about-1 img {
        width: 100%;
        border-radius: 15px;
    }
    
    .about-links{
        font-size: 16px;
    }

    .left, .right{
        flex-basis: 100%;
    }

    .btn1{
        display: block;
        width: 50%;
        padding: 12px 20px;
        text-align: center;
        margin:30px 0px;
    }
    

    .btn2{
        display: block;
        width: 50%;
        text-align: center;
        padding: 12px 20px;
        font-size: 16px;
        margin: 40px auto;
    }

    #footer{
        font-size: 14px;
    }
}
