body {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-weight: 500;
}

html {
    font-size: 12px;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    color: rgb(221, 29, 29);
    text-align: center;
    text-decoration: underline;
}

.logoImage {
    height: 50px;
}

#logo-2 {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

h3 {
    margin-bottom: 2px;
    padding-left: 22px;
}

ul {
    margin-top: 5px;
}

#banner {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

#about {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
    flex-direction: column;
}

#description {
    padding-right: 16px;
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.25rem;
}

#team {
    width: 100%;
}

#teamImage {
    border-radius: 5px;
    width: 100%;
    height: 350px;
}


.cards {
    border: 5px solid black;
    margin-bottom: 10px;
}


input {
    width: 80%;
}

#upload {
    width: 80%;
    border: 1px solid black;
    height: 20px;
    padding: 2px;
    margin-bottom: 15px;
}


#works {
    width: 80%;
}

#jobs {
    display: none;
}

table,
tr,
th,
td {
    border: 1px solid rgb(221, 29, 29);
    border-collapse: collapse;
    border-color: black;
    border-style: inset;
}

tr:nth-child(odd) {
    background-color: rgb(221, 29, 29);
}

td {
    padding: 8px;
}

th {
    text-align: center;
    background-color: rgb(221, 29, 29);
}


#fieldset {
    display: none;
}



#submit {
    background-color: rgb(221, 29, 29);
    color: white;
    padding: 16px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}


#footer {
    margin-top: 20px;
    padding: 50px 50px 15px 50px;
    background-color: rgb(221, 29, 29);
    text-align: center;
}

#footer-links {
    list-style: none;
    text-align: center;
}

#footer-links li {
    display: block;
    margin-bottom: 20px;
}

@media screen and (min-width:576px) {

    body {
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        font-weight: 500;
    }

    html {
        font-size: 16px;
    }

    h1,
    h2,
    h4,
    h5,
    h6 {
        font-family: 'Inter', sans-serif;
        color: rgb(221, 29, 29);
        text-align: center;
        text-decoration: underline;
    }


    .logoImage {
        height: 50px;
    }

    #logo-1 {
        display: none;
    }

    #logo-2 {
        display: block;
        margin-bottom: 5px;
    }


    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 2.5rem;
    }

    h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
    }


    #banner {
        width: 100%;
        height: 430px;
        object-fit: cover;
    }

    #about {
        display: flex;
        max-width: 800px;
        margin: 0 auto;
        padding: 8px;
        flex-direction: column;
    }

    #description {
        padding-right: 16px;
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.25rem;
        width: 100%;
    }

    #team {
        width: 100%;
    }

    #teamImage {
        border-radius: 5px;
        width: 100%;
        height: 350px;
    }


    #works {
        width: 50%;
    }

    #jobs {
        display: none;
    }


    #fieldset {
        display: none;
    }

    #submit {
        background-color: rgb(221, 29, 29);
        color: white;
        padding: 16px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
    }


    #footer {
        margin-top: 20px;
        padding: 50px 50px 15px 50px;
        background-color: rgb(221, 29, 29);
        text-align: center;
    }

    #footer-links {
        list-style: none;
        text-align: center;
    }

    #footer-links li {
        display: inline;
        padding: 20px;
    }

    #copyright{
        margin-top: 20px;
    }

}


@media screen and (min-width:780px) {
    body {
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        font-weight: 500;
    }

    html {
        font-size: 16px;
    }

    h1,
    h2,
    h4,
    h5,
    h6 {
        font-family: 'Inter', sans-serif;
        color: rgb(221, 29, 29);
        text-align: center;
        text-decoration: underline;
    }


    .logoImage {
        height: 50px;
    }

    #logo-1 {
        display: none;
    }

    #logo-2 {
        display: block;
        margin-bottom: 5px;
    }


    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 2.5rem;
    }

    h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
    }

    h3 {
        margin-bottom: 2px;
        padding-left: 22px;
    }

    ul {
        margin-top: 5px;
    }

    #banner {
        width: 100%;
        height: 570px;
        object-fit: cover;
    }

    #about {
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
        padding: 8px;
        flex-direction: row;
    }

    #description {
        padding-right: 16px;
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.25rem;
        width: 50%;
    }

    #team {
        width: 50%;
    }

    #teamImage {
        border-radius: 5px;
        width: 100%;
        height: 440px;
    }


    #jobs {
        display: table;
        width: 100%;
    }

    #mobile-cards{
        display: none;
    }


    #mobile-form{
        display: none;
    }

    
    #fieldset {
        display: block;
    }

    input{
        width: 50%;
    }

    .upload {
        width: 50%;
        border: 1px solid black;
        height: 20px;
        padding: 2px;
    }

    #submit{
        width: 20%;
    }
}